<div class='following'>
  &nbsp;&nbsp;<span style="font-size:16px;"><a href="http://www.twitter.com/<%= following.screen_name %>" target="_blank"><%= following.screen_name %></a> for </span>
  <!--
  <span class="actions" style="display:inline-block;float:right;padding-top:-5px;display:none;">
    <%= link_to "Unfollow", "#", :class => "btn btn-mini" %>
  </span>
-->
  <div class="tweet" display:table-row;"">
    <a href="http://www.twitter.com/<%= following.screen_name %>" class="thumb" style="display:inline-block;float:left;padding:4px 10px;" target="_blank" >
      <%= image_tag following.tweet.user.profile_image_url, :style => "width:48px;height:48px;" %>
    </a>
    <div class="body">
      <div class="text">
        <%= format_tweet following.tweet.text %>
      </div>
      <%= link_to time_ago_in_words(following.tweet.created_at) + " ago", "https://twitter.com/haleakalari/status/" + following.tweet.id.to_s, :target => "_blank" %>
    </div>
    <div style="clear:both;"></div>
  </div>
</div>