<%= simple_form_for @term, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name, :label => "Term", :hint => "#competitor or @competitor. This term will be used to find users using competitor's products", :input_html => { :placeholder => "#something" } %>
  <%= f.input :interval, :collection => Term.interval_map, :include_blank => false, :hint => "Can run only daily in free version" %>
  <%= f.input :max_to_follow, :label => "Maximum users", :collection => [30,20,10,5], :include_blank => false, :hint => "Maximum users to follow in single run." %>
  <!--  Disabled notification on per term basis -->
  <!--
  <%= f.input :notify, :hint => "Notify me when new users are followed" %>
  -->
  <% unless @term.is_disabled? %>
  <%= f.input :run_now, :as => :boolean %>
  <% end %>

  <div class="form-actions">
    <%= f.submit @term.new_record? ? "Create Term" : "Update Term", :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                terms_path, :class => 'btn' %>
  </div>
<% end %>

<% content_for :right do %>
  <div class="tweeter_results">
    <table>
      <div class="tweeter_result">
      </div>
    </table>
  </div>
<% end %>