<% if followings.count > 0 %>
	<h1><%= term.name %></h1>
	<h3>Followed <%= followings.count %> users.</h3>
	<p>
	  <% followings[0..3].each do |following| %>
	  <%= render "terms/following", :following => following %>
	  <% end %>
	  <% if followings.count > 3 %>
	  <%= link_to "and few more", term_url(term, :only_path => false) %>
	  <% end %>
	</p>
<% end %>