<h3>Tracking terms</h3>

<div class="terms">
  <% @terms.each do |term| %>
  <div class="term <%= term.is_disabled ? "disabled" : "" %>">
    <%= link_to term.name, term, :class => "name" %>
    <div class="actions">
      <%= link_to "Run Now", term.is_disabled ? "javascript:void(0)" : run_term_path(term), :class => "btn btn-mini btn-inverse " + (term.is_disabled ? "disabled" : ""), :method => :post %>
      <% if term.is_disabled? %>
      <%= link_to "Enable", enable_term_path(term), :class => "btn btn-mini btn-success", :method => :post %>
      <% else %>
      <%= link_to "Disable", disable_term_path(term), :class => "btn btn-mini btn-danger", :method => :post %>
      <% end %>
      <%= link_to "Delete", term, :method => :delete, :class => "btn-mini", :confirm => "This is not reversible" %>
    </div>
    <div class="info">
      Followed <%= term.followings_count || "0" %> users till now<br />
      <span class="time">Last run <%= last_run_time(term) %></span>
    </div>
  </div>
  <% end %>
</div>

<br />

<% unless can_add_term? %>
<%= link_to "Track new term", "javascript:void(0)", :class => "btn", :disabled => true %> <i> Can only add 3 terms in free plan. <a href="/plans">See plans</a></i>
<% else %>
<%= link_to "Track new term", new_term_path, :class => "btn btn-primary " + (@terms.present? ? "" : "btn-large") %>
<% end %>

<br />
<br />
