<%- model_class = Term -%>
<h1><%= link_to @term.name, @term %></h1>

<div class="form-actions" style="border-top:0;border-bottom:1px;">
  <%= link_to "Run Now", @term.is_disabled ? "javascript:void(0)" : run_term_path(@term), :class => "btn btn-inverse " + (@term.is_disabled ? "disabled" : ""), :method => :post %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_term_path(@term), :class => 'btn' %>
  <% if @term.is_disabled? %>
  <%= link_to "Enable", enable_term_path(@term), :class => "btn btn-success", :method => :post %>
  <% else %>
  <%= link_to "Disable", disable_term_path(@term), :class => "btn btn-danger", :method => :post %>
  <% end %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              term_path(@term),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-link' %>
</div>

<h3 style="display:inline-block;">Recently followed</h3> <i style="float:right;padding-right:10px;margin-top:20px;"> Last run <%= last_run_time(@term) %></i>

<% if @followings.count > 0 %>
<div class="followings">
  <% @followings.each do |following| %>
  <%= render "terms/following", :following => following %>
  <% end %>
  <%= paginate @followings %>
</div>
<% else %>
  <div><i>No one followed so far</i></div>
<% end %>