<table>
  <tr>
    <td style="width:50%;">
      <h3>Simple Twitter marketing</h3>
      <p>Automatically get potential users to check your product/service and build following on twitter</p>
      <hr />
      <p style="color:#777;">HashFollow will follow users based on hashtags they use in their tweets.</p>

      <p style="color:#555;">For example you are developing a product competing with Facebook</p>

      <p>You would add a term for #facebook and HashFollow will automatically follow users having #facebook hashtag in their tweets.</p>

      <p style="color:#333;">Users getting followed get notification with your account information i.e. one potential user gets to see your brand and you follow a potential user.</p>
    </td>
    <td style="width:50%;text-align:center;">
      <%= link_to "Sign in with Twitter", "/auth/twitter", :class => "btn btn-primary btn-large" %>
      <br />
      <span style="font-size:10px;" >
        Use your company's official account
      </span>
    </td>
  </tr>
</table>