<div class="row">
    <div class="span3">
        <h3>Plans and pricing</h3>
    </div>
    <div class="span3 pricing-table4">
        <ul class="popullar">
            <li class="head"><h1>Free</h1></li>
            <li class="price">$0.00</li>
            <li>Monthly</li>
            <li>Upto 3 terms</li>
            <li>0 additional accounts</li>
            <li>No additional goodies</li>
            <li class="footer"><a href="/" class="btn btn-danger btn-large">Sign Up</a></li>
        </ul>
    </div>
    <div class="span3 pricing-table4">
        <ul>
            <li class="head"><h1>Premium</h1></li>
            <li class="price">$10.05</li>
            <li>Monthly</li>
            <li>Upto 10 terms per account</li>
            <li>Upto 3 linked accounts</li>
            <li>Additional Goodies</li>
            <li class="footer"><a href="#" class="btn btn-danger btn-large">Coming Soon</a></li>
        </ul>
    </div>
</div>