<% if @results.present? %>

$(".tweeter_results table").html("")

if ( $(".tweeter_results").length > 0 ) {
  <% @results.each do |result| %>
  $(".tweeter_results table").append(JST["templates/tweeter-result"]({ result : <%= result.to_json.html_safe %> }));
  <% end %>
}

<% else %>

$(".tweeter_results table").html("<tr><td style='padding:10px;text-align:center;vertical-align:middle;'>No results found...</td></tr>")

<% end %>