<h3>About HashFollow...</h3>

<br />

<p>
  <%= image_tag "amit.png", :align => "left", :style => "padding-right:20px;" %>
  I am Amit Ambardekar.
  <br />
  A Ruby on Rails freelancer and founder of <a href="http://www.verticalset.com/">VerticalSet</a>
  <br />
  Find me on <a href="http://www.amitamb.com/">my Homepage</a> <a href="http://in.linkedin.com/pub/amit-ambardekar/14/798/334">LinkedIn</a>, <a href="https://www.elance.com/s/amitamb/">Elance</a>, or <a href="http://amitamb.posterous.com/">blog</a>.
  <br/>
  <a href="mailto:amitamb@gmail.com">Email me</a> to let me know your feedback.
</p>