<h3>Why this project?</h3>

<p>
  I was having simple problem of finding potential users. I found an easy way to get at least few users to try my product. Target people using compteting product. I searched for people mentioning the competitor's product, and followed them. That would surely send them a notification and at least get them to see my twitter profile and description with a link.
</p>

<p>
  This way I was able to find and target potential users and get them to follow me. But I had to do it daily. I soon got tired of it. So this is project to automate that task.
</p>

<p>
  Here, you will set terms(keywords including #hashtags, @usernames) to use to find potential users. HashFollow will then follow all those users daily. It will also notify aout the new users that were followed by your twitter account.
</p>

<p>
  <% if !current_user %>
    To Start using HashFollow <%= link_to "Sign In with your company's Twitter Account", "/auth/twitter" %>
  <% end %>
</p>