<h2><%= t('.contact_us') %></h2>
<%= simple_form_for @contact, :url => contacts_path, :html => { :class => "form-horizontal" } do |f| %>
  <%= f.input :name, :label => t('.name') if ContactUs.require_name %>
  <%= f.input :email, :label => t('.email') %>
  <%= f.input :subject, :label => t('.subject') if ContactUs.require_subject %>
  <%= f.input :message, :as => :text, :label => t('.message'), :input_html => { :rows => "8" } %>
  <div class="form-actions">
    <%= f.button :submit, "Send Message", :label => t('.submit'), :button_html => { :alt => t('.submit'), :id => 'contact_us_contact_submit', :title => t('.submit') }, :class => "btn-primary" %>
  </div>
<% end %>
