<h3>Change User Settings</h3>

<%= simple_form_for current_user, :url => "/user/update", :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :email %>

  <%= f.input :notify, :label => "Email notification", :hint => "You will be notified whenever new users are followed on daily run", :as => :boolean %>

  <div class="form-actions">
    <%= f.submit "Update", :class => 'btn btn-primary' %>
  </div>
<% end %>