<tr class="tweeter_result">
  <td class="profile_image">
    <img src="<%= result.user.profile_image_url %>" />
  </td>
  <td class="tweet_main_body">
    <span class="time_ago" style="display:none;">
      3h
    </span>
    <span class="profile_name">
      <%= result.user.name %>
    </span>
    <span class="profile_handle">
      @<%= result.user.screen_name %>
    </span>
    <span class="tweet_body">
      <%= result.text %>
    </span>
  </td>
</tr>
