/*
* Simple Pricing and Plans
* 
* @default
* Afriq Yasin Ramadhan
*/

/* 
 * PRICING KIND 
 *
 */

 /* - 1 - */
.pricing-table ul{
	list-style-type: none;
    border:1px solid #686868;
    text-align:center;
    border-radius: 6px 6px 4px 4px;
    -webkit-border-radius: 6px 6px 4px 4px;
    -moz-border-radius: 6px 6px 4px 4px;
    -o-border-radius: 6px 6px 4px 4px;
	transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transition:transform 0.5s, box-shadow 0.3s;
    -webkit-transition:-webkit-transform 0.5s, -webkit-box-shadow 0.3s;
    -moz-transition:-moz-transform 0.5s, -moz-box-shadow 0.3s;
    -o-transition:-o-transform 0.5s, -o-box-shadow 0.3s;
}

.pricing-table ul li{
	padding:15px 10px;
    border-bottom:1px dotted #999;
    margin:0 20px 0 20px;
    font-size:13px;
}

.pricing-table ul li.head{
    background-color: #686868;
    color:#fff;
	border-top:1px solid #686868;
	border-left:1px solid #686868;
	border-right:1px solid #686868;
	border-bottom: 1px solid #555;
    margin:0 !important;
    padding-left:0!important;
    padding-right:0!important;
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    height:25px !important;
    text-align:center !important;
	font-size:18px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.pricing-table ul li.price{
    font-size:60px;
    font-weight:normal;
	border-top:1px solid #888;
	height:65px;
	padding:35px 0 10px;
    margin-left: 0 !important;
    margin-right:0 !important;
    border-bottom:none !important;
	background-color: #797979;
	color:#fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.pricing-table ul li.price sup{
	position: relative;
	top: -40px;
	left:10px;
	display: inline;
	font-size: 17px;
	line-height: 0.8em;
	color:#fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.pricing-table ul li.price p{
	font-size: 17px;
	line-height: 0.8em;
	margin-top:30px;
	color:#fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.pricing-table ul li.footer{
    background: #F2F2F2;
	background-color: whiteSmoke;
	background-image: -moz-linear-gradient(top, #F8F8F8, #E6E6E6);
	background-image: -ms-linear-gradient(top, #F8F8F8, #E6E6E6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F8F8F8), to(#E6E6E6));
	background-image: -webkit-linear-gradient(top, #F8F8F8, #E6E6E6);
	background-image: -o-linear-gradient(top, #F8F8F8, #E6E6E6);
	background-image: linear-gradient(top, #F8F8F8, #E6E6E6);
	background-repeat: repeat-x;
	border-top: 1px solid #DDD;
	border-bottom:none;
    color:#fff;
    margin:-1px 0 0 0 !important;
    padding:20px 0 !important;
    border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    -webkit-border-radius: 0 0 2px 2px;
    -o-border-radius: 0 0 2px 2px;
}

/* - 2 - */
.pricing-table1 ul{
	list-style-type: none;
    border:1px solid #298551;
    text-align:left;
    border-radius: 6px 6px 4px 4px;
    -webkit-border-radius: 6px 6px 4px 4px;
    -moz-border-radius: 6px 6px 4px 4px;
    -o-border-radius: 6px 6px 4px 4px;
	 transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transition:transform 0.5s, box-shadow 0.3s;
    -webkit-transition:-webkit-transform 0.5s, -webkit-box-shadow 0.3s;
    -moz-transition:-moz-transform 0.5s, -moz-box-shadow 0.3s;
    -o-transition:-o-transform 0.5s, -o-box-shadow 0.3s;
}

.pricing-table1 ul li{
	padding:15px 10px;
    margin:0;
    font-size:13px;
}

.pricing-table1 ul li.head{
    background-color: #1F5F3B;
    color:#fff;
	border-top:1px solid #686868;
	border-left:1px solid #686868;
	border-right:1px solid #686868;
	border-bottom: 1px solid #1A5232;
    margin:0 !important;
    padding-left:0!important;
    padding-right:0!important;
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    height:25px !important;
    text-align:center !important;
	font-size:18px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.pricing-table1 ul li.price{
    font-size:60px;
    font-weight:normal;
	border-top:1px solid #298551;
	height:65px;
	padding:35px 0 10px;
    margin-left: 0 !important;
    margin-right:0 !important;
    border-bottom:none !important;
	background-color: #287038;
	color:#fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	text-align:center;
}

.pricing-table1 ul li.price sup{
	position: relative;
	top: -40px;
	left:10px;
	display: inline;
	font-size: 17px;
	line-height: 0.8em;
	color:#fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.pricing-table1 ul li.price p{
	font-size: 17px;
	line-height: 0.8em;
	margin-top:30px;
	color:#fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.pricing-table1 ul li.footer{
    background: #F2F2F2;
	background-color: whiteSmoke;
	background-image: -moz-linear-gradient(top, #F8F8F8, #E6E6E6);
	background-image: -ms-linear-gradient(top, #F8F8F8, #E6E6E6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F8F8F8), to(#E6E6E6));
	background-image: -webkit-linear-gradient(top, #F8F8F8, #E6E6E6);
	background-image: -o-linear-gradient(top, #F8F8F8, #E6E6E6);
	background-image: linear-gradient(top, #F8F8F8, #E6E6E6);
	background-repeat: repeat-x;
	border-top: 1px solid #DDD;
	border-bottom:none;
    color:#fff;
    margin:-1px 0 0 0 !important;
    padding:20px 0 !important;
    border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    -webkit-border-radius: 0 0 2px 2px;
    -o-border-radius: 0 0 2px 2px;
	text-align:center;
}


/* - 3 - */
.pricing-table2 ul{
	list-style-type: none;
    border:1px solid #CCC;
    text-align:left;
    border-radius: 6px 6px 4px 4px;
    -webkit-border-radius: 6px 6px 4px 4px;
    -moz-border-radius: 6px 6px 4px 4px;
    -o-border-radius: 6px 6px 4px 4px;
	transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transition:transform 0.5s, box-shadow 0.3s;
    -webkit-transition:-webkit-transform 0.5s, -webkit-box-shadow 0.3s;
    -moz-transition:-moz-transform 0.5s, -moz-box-shadow 0.3s;
    -o-transition:-o-transform 0.5s, -o-box-shadow 0.3s;
}

.pricing-table2 ul li{
	padding:15px 10px;
    border-bottom:1px dotted #999;
    margin:0 20px 0 20px;
    font-size:13px;
}

.pricing-table2 ul li.head{
    background-color: whiteSmoke;
    color:#333;
	border-top:1px solid whiteSmoke;
	border-left:1px solid whiteSmoke;
	border-right:1px solid whiteSmoke;
	border-bottom: 1px solid #CCC;
    margin:0 !important;
    padding-left:0!important;
    padding-right:0!important;
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    height:25px !important;
    text-align:center !important;
	font-size:18px;
	text-shadow: 1px 1px 1px #fff;
}

.pricing-table2 ul li.price{
    font-size:60px;
    font-weight:normal;
	height:65px;
	padding:35px 0 10px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    border-bottom:none !important;
	color:#333;
	text-shadow: 1px 1px 1px #999;
	text-align:center;
}

.pricing-table2 ul li.price sup{
	position: relative;
	top: -40px;
	left:10px;
	display: inline;
	font-size: 17px;
	line-height: 0.8em;
	color:#333;
	text-shadow: 1px 1px 1px #ccc;
}

.pricing-table2 ul li.price p{
	font-size: 17px;
	line-height: 0.8em;
	margin-top:30px;
	color:#333;
	text-shadow: 1px 1px 1px #ccc;
}

.pricing-table2 ul li.footer{
    background: #F2F2F2;
	background-color: whiteSmoke;
	background-image: -moz-linear-gradient(top, #F8F8F8, #E6E6E6);
	background-image: -ms-linear-gradient(top, #F8F8F8, #E6E6E6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F8F8F8), to(#E6E6E6));
	background-image: -webkit-linear-gradient(top, #F8F8F8, #E6E6E6);
	background-image: -o-linear-gradient(top, #F8F8F8, #E6E6E6);
	background-image: linear-gradient(top, #F8F8F8, #E6E6E6);
	background-repeat: repeat-x;
	border-top: 1px solid #DDD;
	border-bottom:none;
    color:#fff;
    margin:-1px 0 0 0 !important;
    padding:20px 0 !important;
    border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    -webkit-border-radius: 0 0 2px 2px;
    -o-border-radius: 0 0 2px 2px;
	text-align:center;
}


/* - 3 - */
.pricing-table3 ul{
	list-style-type: none;
    border:1px solid #CCC;
    text-align:center;
    border-radius: 4px 4px 2px 2px;
    -webkit-border-radius: 4px 4px 2px 2px;
    -moz-border-radius: 4px 4px 2px 2px;
    -o-border-radius: 4px 4px 2px 2px;
	transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transition:transform 0.5s, box-shadow 0.3s;
    -webkit-transition:-webkit-transform 0.5s, -webkit-box-shadow 0.3s;
    -moz-transition:-moz-transform 0.5s, -moz-box-shadow 0.3s;
    -o-transition:-o-transform 0.5s, -o-box-shadow 0.3s;
}

.pricing-table3 ul li{
	padding:15px 10px;
    border-bottom:1px dotted #999;
    margin:0 20px 0 20px;
    font-size:13px;
}

.pricing-table3 ul li.head{
    color:#333;
	border: none;
    margin:0 !important;
    padding-left:0!important;
    padding-right:0!important;
    height:25px !important;
    text-align:center !important;
	font-size:20px;
	text-shadow: 1px 1px 1px #ccc;
}

.pricing-table3 ul li.price{
    font-size:60px;
    font-weight:normal;
	height:65px;
	padding:35px 0 10px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    border-bottom:none !important;
	color:#333;
	text-shadow: 1px 1px 1px #999;
	text-align:center;
}

.pricing-table3 ul li.price sup{
	position: relative;
	top: -40px;
	left:10px;
	display: inline;
	font-size: 17px;
	line-height: 0.8em;
	color:#333;
	text-shadow: 1px 1px 1px #ccc;
}

.pricing-table3 ul li.price p{
	font-size: 17px;
	line-height: 0.8em;
	margin-top:30px;
	color:#333;
	text-shadow: 1px 1px 1px #ccc;
}

.pricing-table3 ul li.footer{
	border:none;
    color:#fff;
    margin:-1px 0 0 0 !important;
    padding:20px 0 !important;
	text-align:center;
}


/* - 5 - */
.pricing-table4 ul{
    list-style-type: none;
    border:1px solid #222;
    text-align:center;
    border-radius: 6px 6px 4px 4px;
    -webkit-border-radius: 6px 6px 4px 4px;
    -moz-border-radius: 6px 6px 4px 4px;
    -o-border-radius: 6px 6px 4px 4px;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transition:transform 0.5s;
    -webkit-transition:-webkit-transform 0.5s;
    -moz-transition:-moz-transform 0.5s;
    -o-transition:-o-transform 0.5s;
}

.pricing-table4 ul li{
    padding:10px;
    border-bottom:1px dashed #414141;
    margin:0 20px 0 20px;
    font-size:16px;
}

.pricing-table4 ul li.head{
    background-color: #414141;
    background-image: -ms-linear-gradient(top, #555555, #222222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222));
    background-image: -webkit-linear-gradient(top, #555555, #222222);
    background-image: -o-linear-gradient(top, #555555, #222222);
    background-image: -moz-linear-gradient(top, #555555, #222222);
    background-image: linear-gradient(top, #555555, #222222);
    background-repeat: repeat-x;
    border-color: #222 #222 black !important;
    border-width: 1px !important;
    border-style: solid !important;
    color:#fff;
    margin:0 !important;
    padding-left:0!important;
    padding-right:0!important;
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    height:45px !important;
    text-align:center !important;
}

.pricing-table4 ul li.head h1{
    color:#fff;
    margin-left: auto !important;
    margin-right: auto !important;
	font-size:25px;
	text-shadow:0 1px 1px #999;
	font-weight:300;
}

.pricing-table4 ul li.price{
    font-size:50px;
    font-weight:500;
    margin-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left:0!important;
    padding-right:0!important;
    margin-left: 0 !important;
    margin-right:0 !important;
    border-bottom:none !important;
}

.pricing-table4 ul li.footer{
    background-color: #414141;
    background-image: -ms-linear-gradient(top, #555555, #222222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222));
    background-image: -webkit-linear-gradient(top, #555555, #222222);
    background-image: -o-linear-gradient(top, #555555, #222222);
    background-image: -moz-linear-gradient(top, #555555, #222222);
    background-image: linear-gradient(top, #555555, #222222);
    background-repeat: repeat-x;
    border-color: #222 #222 black !important;
    border-width: 1px !important;
    border-style: solid !important;
    color:#fff;
    margin:10px 0 0 0 !important;
    padding:20px 0 !important;
    border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    -webkit-border-radius: 0 0 2px 2px;
    -o-border-radius: 0 0 2px 2px;
}