.terms {
  margin-top:10px;
  .term {
    margin-bottom:5px;
    a.name {
      font-size:40px;
      line-height:40px;
    }
    .actions {
      margin-top:5px;
    }
    .info {
      font-weight:bold;
      font-size:12px;
      padding:3px;
      .time {
        font-weight:normal;
        font-size:10px;
        font-style:italic;
      }
    }
  }
  .term.disabled {
    a.name {
      color:#aaa;
    }
  }
}

.followings {
  .following {
    padding:5px 5px;
    margin-bottom:5px;
    .tweet {
      font-size:14px;
      background-color:#efefef;
      border:1px solid #ddd;
      border-top:0;
      padding:3px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
    }
  }
}

.tweeter_results {
  width:100%;
  height:300px;
  border:1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow:hidden;
  overflow-y:Scroll;
  table {
    width:100%;
    margin-bottom:10px;
    .tweeter_result {
      box-sizing:border-box;
      margin-left:50px;

      .profile_image {
        width:50px;
        padding-top:8px;
        text-align:center;
        vertical-align:top;
        img {
          max-width:30px;
          max-height:30px;
        }
      }

      .tweet_main_body {
        font-size:12px;
        line-height:14px;
        padding-top:10px;

        .profile_name {
          font-size:12px;
          display:inline-block;
          padding-bottom:4x;
          font-weight:Bold;
        }
        .profile_handle {
          color:#888;
          font-size:12px;
        }
        .time_ago {
          color:#bbb;
          float:right;
        }
        .tweet_body {
          display:Block;
        }
      }
    }
  }
}